<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">  
    <property name="LOG_FILE_PATH" value="${sys.path}" /> 
  	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		<append>true</append> 
	    <encoder>  
	        <pattern>  
	            [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
	        </pattern>  
	        <charset>utf-8</charset> 
	    </encoder>  
	  
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	      	<fileNamePattern>${LOG_FILE_PATH}/boot-base-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
	        	<maxFileSize>50 MB</maxFileSize>  
	      	</timeBasedFileNamingAndTriggeringPolicy>  
	    </rollingPolicy> 
  	</appender>
  	
  	<appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">
  		<append>true</append> 
	    <encoder>  
	        <pattern>  
	            [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
	        </pattern>  
	        <charset>utf-8</charset> 
	    </encoder>  
	  
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	      	<fileNamePattern>D:/data/boot-base-error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
	      	<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">  
	        	<maxFileSize>100 MB</maxFileSize>  
	      	</timeBasedFileNamingAndTriggeringPolicy>  
	    </rollingPolicy> 
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">  
	      	<level>ERROR</level>
	      	<!-- <onMatch>ACCEPT</onMatch>
	      	<onMismatch>DENY </onMismatch> -->
	    </filter>
  	</appender>

  	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">  
      	<encoder>  
          	<pattern>  
              	[ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n  
          	</pattern>  
          	<!--<charset>utf-8</charset>-->
      	</encoder> 
  	</appender>  
  	
  	<!-- <appender name="db" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource
            class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.jdbc.Driver</driverClass>
            <url>jdbc:mysql://172.28.250.235:3306/sandDB</url>
            <user>root</user>
            <password>root</password>
        </connectionSource>
    </appender> -->
  	
  	<logger name="org.springframework.web" level="${logging.level.org.springframework.web}"/>  
  	
  	<root level="INFO">
	  			<appender-ref ref="console" />
    			<appender-ref ref="file_error" />
	  			<appender-ref ref="file" />  
  	</root>  
</configuration>